# check if database exists

import mysql.connector

In [1]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(
host='localhost',
user='karim',
password='0623963226'

)

cursor = mydb.cursor()
cursor.execute('SHOW DATABASES')

for i in cursor:
    print(i)

('awesome chocolates',)
('choco',)
('company',)
('ecole',)
('information_schema',)
('inventory',)
('mydb',)
('mysql',)
('performance_schema',)
('portfolioproject',)
('python',)
('sakila',)
('sales',)
('sql_intro',)
('sql_joins',)
('stm',)
('student',)
('studentmanagementsystem1',)
('subquerys',)
('sys',)
('testbd',)
('triggers',)
('world',)

In [5]:
# chosse our database
mydata = mysql.connector.connect(
host = 'localhost',
user='karim',
password='0623963226',
database='PYTHON')

In [8]:
# create table in python database
cursor = mydata.cursor()
cursor.execute('CREATE TABLE users(last_name VARCHAR(45), first_name VARCHAR(45), AGE INT )')

In [12]:
cursor.execute('SHOW TABLES')

for i in cursor:
    print(i)

('emplyee',)
('users',)

In [15]:
sql = 'INSERT INTO users(last_name,first_name,age) VALUES(%s,%s,%s)'
val = ('akarkab','karim',30)
cursor.execute(sql,val)

In [16]:
mydb.commit()

In [17]:
print(cursor.rowcount,'record inserted')

1 record inserted

In [11]:
# CREATE OTHER TABLE WITH PRIMARY KEYS
cursor = mydata.cursor()
cursor.execute('CREATE TABLE emplyee( id INT AUTO_INCREMENT PRIMARY KEY , last_name VARCHAR(45), first_name VARCHAR(45), AGE INT )')