# DATA TYPE IN PYTHON

In [1]:
# integers

In [3]:
-2,-1,0,1,2,3,4,7

(-2, -1, 0, 1, 2, 3, 4, 7)

In [4]:
a = 4

In [5]:
a

4

In [6]:
type(a)

int

In [7]:
# floating

In [8]:
1.5,2.3,-3.14,5.4,10.2

(1.5, 2.3, -3.14, 5.4, 10.2)

In [9]:
b = 6.12

In [10]:
b

6.12

In [11]:
type(b)

float

In [12]:
# string

In [15]:
'yes',"hey",'hi','what','what'

('yes', 'hey', 'hi', 'what', 'what')

In [16]:
my_string = " let's learn python"

In [17]:
anhtor_string = " is my first notebook in python "

In [18]:
a_long_string = "  yes you can be a data scientist and build al lot of project  "

In [19]:
print(my_string)

 let's learn python

In [20]:
print(a_long_string)

  yes you can be a data scientist and build al lot of project

In [21]:
print('hi world is me')

hi world is me

In [22]:
three_string = my_string + anhtor_string

In [23]:
print(three_string)

 let's learn python is my first notebook in python

In [25]:
"alice" * 5

'alicealicealicealicealice'

In [29]:
print('alice' * 5 ,sep=' ')

alicealicealicealicealice

# Math Operator

In [ ]:
# ** =========> exponant

In [30]:
2 ** 3

8

In [31]:
# % Modulus /remainder

In [32]:
22%8

6

In [33]:
#  // integer divison

In [34]:
22 //8

2

In [35]:
#  / devison

In [36]:
22/8

2.75

In [37]:
# multipication

In [38]:
8 * 5

40

In [39]:
# substraction

In [40]:
10 - 8

2

In [41]:
# addtion

In [42]:
23 + 5

28

## input funtion

In [44]:
name = input('hi,what s your name')
print('Nice to meet you'  + name + "!")

hi,what s your name karim

Nice to meet youkarim!

In [45]:
age = input('how old are')
print('i have '+age+ 'years old')

how old are 28

i have 28years old

In [46]:
three_string

" let's learn python is my first notebook in python "

In [47]:
# lenthg funtion to acount the number of values

## len

In [48]:
len(three_string)

51

In [50]:
print('the lenght of this varible is :',len(three_string))

the lenght of this varible is : 51

In [51]:
lent = len(three_string)
print('the lenght of this varible is :',lent)

the lenght of this varible is : 51