# DICTIONNAIRES

In [1]:
car = {
    'Name':'Dcia',
    'Model':2023,
    "Price":100000,
    'option':'tout option'
    }

In [2]:
car

{'Name': 'Dcia', 'Model': 2023, 'Price': 100000, 'option': 'tout option'}

In [3]:
print(car)

{'Name': 'Dcia', 'Model': 2023, 'Price': 100000, 'option': 'tout option'}

In [4]:
car1=dict(name='4*4',Model='Dacia',price=120000)

In [5]:
print(car1)

{'name': '4*4', 'Model': 'Dacia', 'price': 120000}

In [6]:
# check type of object
type(car)

dict

In [7]:
type(car1)

dict

In [8]:
car

{'Name': 'Dcia', 'Model': 2023, 'Price': 100000, 'option': 'tout option'}

In [9]:
print(car['Price'])

100000

In [10]:
car['Name']

'Dcia'

In [11]:
# in dictonary duclice in not allwed

In [12]:
a=[1,2,1,2]

In [13]:
a

[1, 2, 1, 2]

In [14]:
di = {'name':"jhon",'name':'karim','age':28}

In [15]:
print(di)

{'name': 'karim', 'age': 28}

In [16]:
print(di['name'])

karim

In [17]:
car

{'Name': 'Dcia', 'Model': 2023, 'Price': 100000, 'option': 'tout option'}

In [18]:
len(car)

4

In [19]:
print(len(car))

4

In [20]:
aa = {'name':['karim','rim','jhon'],
     'age':[25,5,87]}

In [21]:
aa

{'name': ['karim', 'rim', 'jhon'], 'age': [25, 5, 87]}

In [22]:
# access items

In [23]:
car

{'Name': 'Dcia', 'Model': 2023, 'Price': 100000, 'option': 'tout option'}

In [26]:
print(car['Name'])

Dcia

In [27]:
car.get('Model')

2023

In [28]:
# keys methodes

In [29]:
a = car.keys()

In [30]:
a

dict_keys(['Name', 'Model', 'Price', 'option'])

In [31]:
b =car.values()

In [32]:
b

dict_values(['Dcia', 2023, 100000, 'tout option'])

In [36]:
# befor change the value of Name
car

{'Name': 'Golf', 'Model': 2023, 'Price': 100000, 'option': 'tout option'}

In [34]:

car['Name']='Golf'

In [37]:
# after change the value
car

{'Name': 'Golf', 'Model': 2023, 'Price': 100000, 'option': 'tout option'}

In [39]:
# itmes function
j = car.items()

In [40]:
j

dict_items([('Name', 'Golf'), ('Model', 2023), ('Price', 100000), ('option', 'tout option')])

In [41]:
aka = {
    1:112,

    2:55,
    5:87
}

In [42]:
aka

{1: 112, 2: 55, 5: 87}

In [44]:
i = {
    (1,2):12,
    (3,4):45
    
}

In [45]:
i

{(1, 2): 12, (3, 4): 45}

In [46]:
car

{'Name': 'Golf', 'Model': 2023, 'Price': 100000, 'option': 'tout option'}

In [47]:
car['Model']=2024

In [48]:
car

{'Name': 'Golf', 'Model': 2024, 'Price': 100000, 'option': 'tout option'}

In [49]:
car.update({'option':'full option'})

In [50]:
car

{'Name': 'Golf', 'Model': 2024, 'Price': 100000, 'option': 'full option'}

In [51]:
# add item

In [52]:
car['color']='red'

In [53]:
car

{'Name': 'Golf',
 'Model': 2024,
 'Price': 100000,
 'option': 'full option',
 'color': 'red'}

In [54]:
car.update({'country':'Morocco'})

In [57]:
car

{'Name': 'Golf',
 'Model': 2024,
 'Price': 100000,
 'option': 'full option',
 'color': 'red',
 'country': 'Morocco'}

In [59]:
# remove itmes

In [60]:
car.pop('country')

'Morocco'

In [61]:
car

{'Name': 'Golf',
 'Model': 2024,
 'Price': 100000,
 'option': 'full option',
 'color': 'red'}

In [62]:
car.popitem()

('color', 'red')

In [63]:
car

{'Name': 'Golf', 'Model': 2024, 'Price': 100000, 'option': 'full option'}

In [64]:
j

dict_items([('Name', 'Golf'), ('Model', 2024), ('Price', 100000), ('option', 'full option')])

In [65]:
aka

{1: 112, 2: 55, 5: 87}

In [66]:
del aka

In [67]:
aka

NameError: name 'aka' is not defined

In [68]:
i

{(1, 2): 12, (3, 4): 45}

In [69]:
i.clear()

In [70]:
i

{}

In [71]:
# loop in dict

In [72]:
car

{'Name': 'Golf', 'Model': 2024, 'Price': 100000, 'option': 'full option'}

In [73]:
for i in car:
    print(i)

Name
Model
Price
option

In [74]:
# just values
for i in car.values():
    print(i)

Golf
2024
100000
full option

In [75]:
# just keys
for j in car.keys():
    print(j)

Name
Model
Price
option

In [76]:
# values and keys

In [77]:
for val,key in car.items():
    print(val,key)

Name Golf
Model 2024
Price 100000
option full option

In [78]:
# copy function

In [79]:
car

{'Name': 'Golf', 'Model': 2024, 'Price': 100000, 'option': 'full option'}

In [80]:
my_car = car.copy()

In [81]:
my_car

{'Name': 'Golf', 'Model': 2024, 'Price': 100000, 'option': 'full option'}

In [83]:
my_car1 = dict(car)

In [84]:
my_car1

{'Name': 'Golf', 'Model': 2024, 'Price': 100000, 'option': 'full option'}

In [85]:
# nested dictionary

In [95]:
my_fam = {
        'chiled1':{'name':'jo',"age":11},
          'chiled2':{'name':"juila",'age':22},
          "childe3":{'name':'david','age':30}
      }

In [96]:
my_fam

{'chiled1': {'name': 'jo', 'age': 11},
 'chiled2': {'name': 'juila', 'age': 22},
 'childe3': {'name': 'david', 'age': 30}}

In [97]:
# from keys method

In [98]:
y = ('karim','juila','brucre')
x= 112

In [101]:
my_dic = dict.fromkeys(y,x)

In [102]:
my_dic

{'karim': 112, 'juila': 112, 'brucre': 112}