# lists in python

In [1]:
my_list = ['a','b','c' ]

In [2]:
my_list

['a', 'b', 'c']

In [3]:
type(my_list)

list

In [5]:
my_list1=[1,2,3,5]

In [6]:
my_list1

[1, 2, 3, 5]

In [7]:
my_list2 = ["a",2,'abc',4,'flot']

In [9]:
my_list2

['a', 2, 'abc', 4, 'flot']

In [10]:
# add items to list

In [11]:
a = [1,5,8,7,9]

In [12]:
a

[1, 5, 8, 7, 9]

In [13]:
a.append(10)

In [14]:
a

[1, 5, 8, 7, 9, 10]

In [15]:
a.append('string')

In [16]:
a

[1, 5, 8, 7, 9, 10, 'string']

In [17]:
a.insert(1,4)

In [18]:
a

[1, 4, 5, 8, 7, 9, 10, 'string']

In [19]:
a.insert(0,'hi')

In [20]:
a

['hi', 1, 4, 5, 8, 7, 9, 10, 'string']

In [21]:
a.insert(12,'hello')

In [22]:
a

['hi', 1, 4, 5, 8, 7, 9, 10, 'string', 'hello']

In [23]:
mylist = [1,2,3]

In [24]:
mylist

[1, 2, 3]

In [25]:
mylist[0]

1

In [26]:
mylist[0]=4

In [27]:
mylist

[4, 2, 3]

## revome some items

In [29]:
my_list

[1, 2, 3, 5]

In [30]:
my_list.remove(2)

In [32]:
my_list

[1, 3, 5]

In [33]:
mylist

[4, 2, 3]

In [34]:
mylist.pop()

3

In [35]:
mylist

[4, 2]

In [44]:
mylist=[12,3,4,5,7,8,6,5,9]

In [45]:
mylist

[12, 3, 4, 5, 7, 8, 6, 5, 9]

In [43]:
mylist.pop()

9

In [46]:
del mylist[2]

In [47]:
mylist

[12, 3, 5, 7, 8, 6, 5, 9]

In [48]:
# let combain two lists

In [52]:
a = [1,2,3]
b=[4,5,6,'v','h']

In [53]:
c = a +b

In [54]:
c

[1, 2, 3, 4, 5, 6, 'v', 'h']

In [55]:
# nested list

In [56]:
j = [a,b]

In [57]:
j

[[1, 2, 3], [4, 5, 6, 'v', 'h']]

In [58]:
j[0]

[1, 2, 3]

In [59]:
j[0][0]

1

In [60]:
j[0][2]

3

In [61]:
c

[1, 2, 3, 4, 5, 6, 'v', 'h']

In [62]:
k = [2,9,1,2,4,7,3]

In [63]:
k

[2, 9, 1, 2, 4, 7, 3]

In [64]:
# sort method

In [65]:
k.sort()

In [66]:
k

[1, 2, 2, 3, 4, 7, 9]

In [67]:
# count method

In [68]:
k.count(2)

2

In [69]:
k

[1, 2, 2, 3, 4, 7, 9]

In [70]:
k.clear()

In [71]:
k

[]

In [73]:
mylist = [1,2,3,4,5,8]

In [74]:
mylist

[1, 2, 3, 4, 5, 8]

In [75]:
mylist.reverse()

In [76]:
mylist

[8, 5, 4, 3, 2, 1]

In [77]:
mylist[::-1]

[1, 2, 3, 4, 5, 8]

In [78]:
# slice in list

In [79]:
mylist

[8, 5, 4, 3, 2, 1]

In [80]:
mylist[0:3]

[8, 5, 4]

In [81]:
# extend method

In [82]:
mylist

[8, 5, 4, 3, 2, 1]

In [86]:
mylist.extend('karim')

In [87]:
mylist

[8, 5, 4, 3, 2, 1, '1', '0', 'k', 'a', 'r', 'i', 'm']

In [88]:
p = 'karim'

In [89]:
p

'karim'

In [90]:
list(p)

['k', 'a', 'r', 'i', 'm']

In [91]:
a = ((1,5,8,9,7,4))

In [92]:
type(a)

tuple

In [93]:
list(a)

[1, 5, 8, 9, 7, 4]

In [94]:
mylist

[8, 5, 4, 3, 2, 1, '1', '0', 'k', 'a', 'r', 'i', 'm']

In [95]:
mylist2 = mylist.copy()

In [96]:
mylist2

[8, 5, 4, 3, 2, 1, '1', '0', 'k', 'a', 'r', 'i', 'm']

In [97]:
# list comperhension

In [98]:
foo = [x for x in range(10)]

In [99]:
foo

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
pi = [x for x in 'karim']

In [103]:
pi

['k', 'a', 'r', 'i', 'm']

In [108]:
mylist = [1,2,5,4,8,8,9,15,17]

In [106]:
mylist1 = [x ** 2 for x in mylist]

In [107]:
mylist1

[1, 4, 25, 16, 64, 64, 81]

In [109]:
mylist2 = [x**2 for x in mylist if x%2==0]

In [110]:
mylist2

[4, 16, 64, 64]

In [111]:
mylist3= [x**2 for x in mylist if x%2!=0]

In [112]:
mylist3

[1, 25, 81, 225, 289]